//this is how you should set up your .env file. You can copy this file and rename it to .env and then add your own token. NEVER commit your .env file to git, it should be in your .gitignore file.
AQI_TOKEN=your_aqi_token_here